<%= render 'shared/banner' %>
<div class="wrapper">
  <div class="container">
    <h1 class="text-center">Cocktails</h1>
    <br>
    <div class="row">

      <% @cocktails.each do |cocktail| %>
      <!-- <div class="col-xs-12 col-sm-2 col-xs-offset-2"> -->
        <div class="col-xs-12 col-sm-4">
          <div class="card card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),  rgba(0,0,0,0.2)), url(<%= image_path cocktail.photo %>);">
            <p class="card-description"><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
