<%= render 'shared/banner' %>
<div class="wrapper">
  <div class="mycontainer">
    <h1>Cocktails</h1>
    <% @cocktails.each do |cocktail| %>

    <p>
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
       <%= link_to "Delete this cocktail", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
       </p>
    <% end %>

    <br>
    <p> <%= link_to "+ Create a new cocktail", new_cocktail_path %> </p>
  </div>
</div>
