<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Mister cocktail", cocktails_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "+ Create a new cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>

  </div>
</div>
